
/MATH130Guide/src/MATH130Guide.parabola.gnuplot
/MATH130Guide/src/MATH130Guide.parabola.table
/MATH130Guide/src/MATH130Guide.synctex.gz
/MATH130Guide/src/Thumbs.db
/MATH130Guide/src/MATH130Guide.hyperbx.neg.gnuplot
/MATH130Guide/src/MATH130Guide.hyperbx.neg.table
/MATH130Guide/src/MATH130Guide.hyperbx.pos.gnuplot
/MATH130Guide/src/MATH130Guide.hyperbx.pos.table
/MATH130Guide/tmp/src