# original .gitignore cf: https://gist.github.com/871983

# Latex files

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# out and tmp directories
./MATH130/tmp/
./MATH130/out/

# GNUplot
*.gnuplot
*.table

# Windows thumbnails
*.db

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Mac finder files and hidden folders
.DS_Store

